@media screen and (max-width: 450px) {
  .app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: 0.3s ease;
    flex-direction: column;
    z-index: 5;
  }

  .app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .overlay__close,
  .hamburger {
    cursor: pointer;
  }

  .app__navbar-smallscreen_links {
    list-style: none;
  }

  .app__navbar-smallscreen_links li {
    color: var(--color-golden);
    margin: 2rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
    transition: color 0.3s ease;
  }

  .app__navbar-smallscreen_links li:hover {
    color: var(--color-white);
  }
}
